.header {
    position: sticky;
    top: 0;
    z-index: 1000;

}


.header .language {
    display: flex;
    gap: 20px;
    justify-content: right;
    height: 40px;
    align-items: center;
    padding: 0 100px;
    background: #000;

}

.header .language img {
    padding: 0 5px;
}

.header .language a {
    font-size: 14px;
    font-weight: 300;
    color: #ddd;
}

.header .language i {
    font-size: 18px;
    font-weight: 400;
    color: #eee;
    vertical-align: 4px;
    margin: 0 0 0 10px;

}

.header.on .language {
    display: none;
}


.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;
    background: #000;
    color: #eee;
    transition: 0.5s;
    border-bottom: 1px solid #f9f9f9;
}

.header.on .header_wrap {
    height: 60px;
    background: #111;
}

.header.on h1 {
    height: 40px;
    width: 100px;
}

.gnb>ul {
    display: flex;
    gap: 40px;
}


.gnb a {
    display: block;
    white-space: nowrap;

    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
}

.header.on .gnb a {
    font-size: 16px;
}

.header .header_wrap .login_area .member {
    display: flex;
    gap: 20px;
}

.header .header_wrap .login_area .member a {
    font-size: 14px;
    color: #ddd;
    font-weight: 300;
}


.main_visual {
    position: relative;
}

.main_slide {
    overflow: hidden;
}

.main_slide .itm {
    position: relative;
    overflow: hidden;
}

.main_slide .itm .slide-image {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .content {
    position: relative;
    text-shadow: 0 0 2px #44444477;
}

.main_visual .content .left {
    position: absolute;
    top: 10%;
    left: 110px;
    color: #fff;
    line-height: 1.4;
}

.main_visual .content .left strong {
    display: block;
    font-size: 120px;
    font-weight: 900;
}

.main_visual .content .left p {
    font-size: 110px;
    font-weight: 300;
}

.main_visual .content .right {
    position: absolute;
    bottom: 10%;
    right: 110px;
    color: #fff;
    line-height: 1.2;
    text-align: right;
}

.main_visual .content .right strong {
    display: block;
    font-size: 90px;
    font-weight: 900;
}

.main_visual .content .right p {
    font-size: 70px;
    font-weight: 300;
}

.main_visual .txt {
    position: absolute;
    top: 20%;
    left: 110px;
    color: #fff;
    line-height: 1.2;
}


.main_visual .txt strong {
    display: block;
    font-size: 90px;
    font-weight: 900;
    padding: 0 0 30px 0;
}

.main_visual .txt p {
    font-size: 40px;
    font-weight: 200;
}

.main_visual .arrows {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, -50%);
    max-width: 1670px;
    width: 100%;
    font-size: 80px;
    color: #fff
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;
}

.main_visual:hover .arrows i {
    opacity: 0.7;
}

.main_visual .arrows .left {
    left: -100px;
}

.main_visual .arrows i:hover {
    color: #e4002b;
}

.main_visual .arrows .right {
    right: -100px;
}


.main_content {
    padding: 100px 0;

}


.main_content .tit {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 80px 0;
}

.main_content .tit::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 0);
    background: #333;
}

.main_content .content {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}


.main_content .content .content_menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 0 0 60px 0;
}

.main_content .content .content_menu li a {
    font-size: 19px;
    transition: 0.3s;
    border: 1px solid #444;
    padding: 3px 15px;
    border-radius: 20px;
}

.main_content .content .content_menu li.on a {
    color: #e4002b;
    border: 1px solid #e4002b;
    border-radius: 15px;
    padding: 7px 25px;
}

.main_content .content_box {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.8s;
}

.main_content.on .content_box {
    opacity: 1;
    transform: translate(0, 0);
}


.main_content .content .content_box img {
    height: 250px;
    width: 320px;
}

.main_content .content .content_box li {
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 0;
    overflow: hidden;
}


.main_content .content .content_box li.on {
    height: 100%;
}


.main_content .content .content_box figure {
    text-align: center;
}

.main_content .content .cart {
    height: 25px;
    transform: translate(0, -20%);
    opacity: 0;
    transition: 0.2s;
}

.main_content .content .content_box figure:hover .cart {
    transform: translate(0, -80%);
    opacity: 1;
}

.main_content .content .cart i {
    font-size: 20px;
    color: #777;
    background: #f8f8f8;
    padding: 5px 6px 5px 6px;
}

.main_content .content .content_box .txt {
    height: 90px;
    width: 350px;
    font-size: 20px;
    font-weight: 500;
}




.main_official {
    padding: 100px 0;
    background: linear-gradient(#555 80%, #fff 20%);

}

.main_official .content {
    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.8s;
}

.main_official.on .content {
    opacity: 1;
    transform: translate(0, 0);
}

.main_official .tit {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 80px 0;
    color: #f9f9f9;
}

.main_official .tit::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 0);
    background: #fff;
}

.main_official .content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.main_official .content img {
    height: 435px;
}

.main_official .content .txt {
    position: relative;
    background: #fff;
    width: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 80px 40px;
}

.main_official .content .txt h3,
strong {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.main_official .content .txt strong {
    color: #e4002b;
    margin: 0 0 60px 0;
}

.main_official .content .txt p {
    font-size: 18px;
    line-height: 1.5;
}

.main_official .content .txt a {
    position: absolute;
    bottom: 15%;
    transform: translate(0, -50%);
    font-size: 17px;
    color: #fff;
    padding: 10px 20px;
    background: #e4002b;
    border-radius: 20px;
}


.main_collabo {
    padding: 100px 0;
}

.main_collabo .tit {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 80px 0;
}

.main_collabo .tit::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 50px;
    height: 2px;
    transform: translate(-50%, 0);
    background: #333;
}

.main_collabo .content {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;

    opacity: 0;
    transform: translate(0, 100px);
    transition: 0.8s;
}

.main_collabo.on .content {
    opacity: 1;
    transform: translate(0, 0);
}

.main_collabo .content figure {
    position: relative;

}


.main_collabo .content .txt {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0 0 0;
    justify-content: space-between;
}

.bg {
    padding: 100px 0 0 0;
    filter: grayscale(60%);
}

.bg .content {
    height: 500px;
    background-image: url(../images/GoalStudio_PC.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    background: #222 url(../images/tilogo.png) no-repeat calc(100% - 100px) calc(100% - 50px);
    padding: 30px 100px;
    color: #f9f9f9;
    z-index: 2;
}

.footer .content .top {
    margin: 0 0 25px 0;
}

.footer .content .top .customer {
    display: flex;
    gap: 30px;
    margin: 0 0 15px 0;
    font-size: 15px;
}

.footer .content .top .customer span {
    font-weight: 600;
}

.footer .content .top .cs {
    font-size: 25px;
    font-weight: 500;
}

.footer .content .bottom {
    width: 600px;
}

.footer .content .bottom .address ul {
    display: flex;
}

.footer .content .bottom .address li {
    font-size: 15px;
    padding: 6px 0;
}

.footer .content .bottom .address strong {
    font-size: 16px;
    font-weight: 500;
}

.footer .bottom ul span {
    font-size: 0;
    padding: 0 8px;
}

.footer .bottom ul span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #666;
}

.to_top {
    position: fixed;
    bottom: 120px;
    right: 100px;

}

.to_top i {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.to_top i:hover {
    background: #e4002b;
}