.header {
    position: sticky;
}


.header .language {
    display: flex;
    gap: 20px;
    justify-content: right;
    height: 40px;
    align-items: center;
    padding: 0 100px;
    background: #000;
}

.header .language img {
    padding: 0 5px;
}

.header .language a {
    font-size: 14px;
    font-weight: 300;
    color: #ddd;
}

.header .language i {
    font-size: 18px;
    font-weight: 400;
    color: #eee;
    vertical-align: 4px;
    margin: 0 0 0 10px;
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;
    background: #000;
    color: #eee;
}

.gnb>ul {
    display: flex;
    gap: 40px;
}


.gnb a {
    display: block;
    white-space: nowrap;

    font-size: 18px;
    font-weight: 400;
}

.header .header_wrap .login_area .member {
    display: flex;
    gap: 20px;
}

.header .header_wrap .login_area .member a {
    font-size: 14px;
    color: #ddd;
    font-weight: 300;
}


.main_visual {
    position: relative;
}

.main_slide {
    overflow: hidden;
}

.main_slide .itm {
    position: relative;
    overflow: hidden;
}

.main_slide .itm .slide-image {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .content {
    position: relative;
    text-shadow: 0 0 2px #44444477;
}

.main_visual .content .left {
    position: absolute;
    top: 10%;
    left: 110px;
    color: #fff;
    line-height: 1.4;
}

.main_visual .content .left strong {
    display: block;
    font-size: 120px;
    font-weight: 900;
}

.main_visual .content .left p {
    font-size: 110px;
    font-weight: 300;
}

.main_visual .content .right {
    position: absolute;
    bottom: 10%;
    right: 110px;
    color: #fff;
    line-height: 1.2;
    text-align: right;
}

.main_visual .content .right strong {
    display: block;
    font-size: 90px;
    font-weight: 900;
}

.main_visual .content .right p {
    font-size: 70px;
    font-weight: 300;
}

.main_visual .txt {
    position: absolute;
    top: 20%;
    left: 110px;
    color: #fff;
    line-height: 1.2;
}


.main_visual .txt strong {
    display: block;
    font-size: 90px;
    font-weight: 900;
    padding: 0 0 30px 0;
}

.main_visual .txt p {
    font-size: 40px;
    font-weight: 200;
}

.main_visual .arrows {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, -50%);
    max-width: 1700px;
    width: 100%;
    font-size: 80px;
    color: #fff
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;
}

.main_visual:hover .arrows i {
    opacity: 0.7;
}

.main_visual .arrows .left {
    left: -100px;
}

.main_visual .arrows i:hover {
    color: #e4002b;
}

.main_visual .arrows .right {
    right: -100px;
}


.main_content {
    padding: 100px 0;
}

.main_content .tit {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 50px 0;
}

.main_content .content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main_content .content .content_menu {
    display: flex;
    gap: 50px;
    justify-content: center;

}


.main_content .content .content_box .box {
    margin: 30px 0;
}

.main_content .content .content_box li {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 50px;
    height: 0;
    overflow: hidden;
}


.main_content .content .content_box li.on {
    height: auto;
}